@model ProductOrderListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10">
    <h3>Product List of Order #@Model.OrderId</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>OrderCount</th>
                <th>Sum</th>
                @*@if (!Model.IsConfirmed)
                {
                    <th></th>
                }*@
            </tr>
        </thead>
        <tbody>
            @foreach (ProductOrderViewModel po in Model.ProductOrders)
            {
            <tr id="@po.ProductOrderId">
                <td id="name">@po.Name</td>
                <td id="price">@po.Price</td>
                @*@if (Model.IsConfirmed)
                {
                    <td>@po.OrderCount</td>
                    <td>@(po.OrderCount * po.Price)</td>
                }
                else
                {
                    @if (po.IsNotAvailable)
                    {
                        <td style="color:red">Not Available</td>
                        <td style="color:red">Not Available</td>
                    }
                    else
                    {
                        <td><input id="order-count" value="@po.OrderCount" type="number" min="1" max="@(po.OrderCount + po.Product.Count)" onchange="activeEdit(@po.ProductOrderId)" /></td>
                        <td id="sum">@(po.OrderCount * po.Price)</td>
                    }

                    <td>
                        <div class="btn-toolbar pull-right" role="toolbar">
                            @if (!po.IsNotAvailable)
                            {
                                <div class="btn-group" role="group"><a id="edit-btn" class="btn btn-warning disabled" onclick="editProductOrder(@po.ProductOrderId)"><span class="glyphicon glyphicon-pencil"></span></a></div>
                            }
                            <div class="btn-group" role="group"><a class="btn btn-danger" onclick="confirmDelete(@po.ProductOrderId)"><span class="glyphicon glyphicon-trash"></span></a></div>
                        </div>
                    </td>
                }*@
            </tr>
            }
        </tbody>
    </table>

    <div class="text-center">
        <div class="btn-group">
            <a asp-controller="Order" asp-action="Index" class="btn btn-default">
                Back To Order List
            </a>
        </div>
    </div>
</div>

<div id="modal-delete-window"></div>


<script>

    function activeEdit(id) {
        var parent = $("#" + id);
        var editBtn = parent.find("#edit-btn").first();
        editBtn.attr('class', 'btn btn-warning');
        var count = parseInt(parent.find("#order-count").first().val());
        var price = parseInt(parent.find("#price").first().text());
        parent.find("#sum").first().text(count * price);
    }

    function editProductOrder(productOrderId) {
        var parent = $("#" + productOrderId);
        var count = parseInt(parent.find("#order-count").first().val());

        $.ajax({
            url: @Model.OrderId + "/Products/" + productOrderId,
            type: 'PATCH',
            data: JSON.stringify({ OrderCount: count }),
            contentType: "application/json",
            accept: "json",
            success: function () {
                location.reload();
            }
        });
    }

    function confirmDelete(_id) {
        var id = _id;
        $("#modal-delete-window").dialog({
            modal: true,
            title: "Are you sure?",
            maxHeight: 300,
            maxWidth: 500,
            minWidth: 250,
            minHeight: 100,
            draggable: false,
            buttons: [
                {
                    text: "Delete",
                    click: deleteConfirmed
                },
                {
                    text: "Cancel",
                    click: cancel
                }
            ]
        });

        function deleteConfirmed() {
            $.ajax({
                url: @Model.OrderId + "/Products/" + id,
                type: "Delete",
                success: function () {
                    $("tr#" + id).remove();
                    $("#modal-delete-window").dialog("close");
                }
            });
        }

        function cancel() {
            $("#modal-delete-window").dialog("close");
        }
    }

</script>