@model IEnumerable<OrderViewModel>

@{
    ViewBag.Title = "OrderList";
    Layout = "_Layout";
}

<div class="col-md-10">
    <h3>Order List</h3>
    <table class="table table-striped">
        <thead>
            <tr><th>Id</th><th>Status</th><th>Date</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (OrderViewModel order in Model)
            {
            <tr id="@order.OrderId">
                <td>@order.OrderId</td>
                @if (order.Status != "New")
                {
                    <td style="color:green">@order.Status</td>
                    <td>@order.Date</td>
                    <td>
                        <div class="btn-toolbar pull-right" role="toolbar">
                            <div class="btn-group" role="group">
                                @if (order.Status == "Confirmed")
                                {
                                    <a class="btn btn-primary" onclick='confirmAction("Pay", "Orders/api/Pay/", "patch", @order.OrderId)'>Pay</a>
                                }
                                else if (order.Status == "Paid")
                                {
                                    <a class="btn btn-primary" onclick='confirmAction("Pack", "Orders/api/Pack/", "patch", @order.OrderId)'>Pack</a>
                                }
                                else if (order.Status == "Packed" && order.DeliveryMethod.Name == "Сourier")
                                {
                                    <a class="btn btn-primary" onclick='confirmAction("Deliver", "Orders/api/Deliver/", "patch", @order.OrderId)'>Deliver</a>
                                }
                                else if (order.Status == "Delivered")
                                {
                                    <a class="btn btn-primary" onclick='confirmAction("Complete", "Orders/api/Complete/", "patch", @order.OrderId)'>Complete</a>
                                }
                                <a class="btn btn-info" asp-controller="Order" asp-action="Edit" asp-route-orderId="@order.OrderId"><span class="glyphicon glyphicon-info-sign"></span></a>
                            </div>
                        </div>
                    </td>
                }
                else
                {
                    <td style="color:red">Not Confirmed</td>
                    <td></td>
                    <td>
                        <div class="btn-toolbar pull-right" role="toolbar">
                            <div class="btn-group" role="group"><a class="btn btn-success" onclick='confirmAction("Confirm", "Orders/api/", "patch", @order.OrderId)'>Confirm</a></div>
                            <div class="btn-group" role="group"><a class="btn btn-warning" asp-controller="Order" asp-action="Edit" asp-route-orderId="@order.OrderId"><span class="glyphicon glyphicon-pencil"></span></a></div>
                            <div class="btn-group" role="group"><a class="btn btn-danger" onclick='confirmAction("Delete", "Orders/", "delete", @order.OrderId)'><span class="glyphicon glyphicon-trash"></span></a></div>
                        </div>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <a asp-action="Create" class="btn btn-primary">
            Add New Order
        </a>
    </div>
</div>

<div id="modal-confirm-window"></div>

<script>
    function confirmAction(actionName, url, httpType, _id) {
        var id = _id;
        $("#modal-confirm-window").dialog({
            modal: true,
            title: "Are you sure?",
            maxHeight: 300,
            maxWidth: 500,
            minWidth: 250,
            minHeight: 100,
            draggable: false,
            buttons: [
                {
                    text: actionName,
                    click: action
                },
                {
                    text: "Cancel",
                    click: cancel
                }
            ]
        });

        function action() {
            $.ajax({
                url: url + id,
                type: httpType,
                error: function (response) {
                    $("#modal-confirm-window").dialog("close");
                    customAlert("error", "Error!", response.responseText);
                },
                success: function () {
                    location.reload();
                }
            });
        }

        function cancel() {
            $("#modal-confirm-window").dialog("close");
        }
    }
</script>